/*
Padding y Margin general
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*
Estilos del body
*/
@media (min-width: 320px) and (max-width: 375px){
body {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	}
}

@media (min-width: 376px) and (max-width: 667px){
	body {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	}
}

@media (min-width: 667px) and (max-width: 1024px) {
	body {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	}
}

@media (min-width: 1024px) and (max-width: 1600px) {
	body {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	}
}

/*
Titulo y subtitulos
*/
.title, .subtitle {
	text-align: right;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	padding: 1px 20px;
}

/*
Imagen del primer panda
*/
.panda1 {
	width: 100%;
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	padding: 20px 1px 1px 1px;
	object-fit: cover;
	height: 500px;
}

/*
contenedor del primer panda
*/
.panda-container {
	background-color: #f78e69;
	padding: 60px 1px 1px 1px;
	height: 660px;
}

/*
Contenedor del párrafo acerca de los pandas
*/
.paragraph-container {
	background-color: #abe188;
	height: 350px
}

/*
Párrafo acerca de los pandas
*/
.about-paragraph {
	font-size: 14px;
	text-align: center;
}

.col-4{
	height: 5%;
}

.about, .about-paragraph {
	background-color: #f78e69;
}

h3 {
	margin: 80px 1px 1px 1px;
	text-align: center;
}

/*
Contenedor del segundo panda
*/
.panda2-container {
	background-color: #f78e69;
	height: 650px;
}

/*
Imagen del segundo panda
*/
.panda2 {
	width: 100%;
	padding: 30px 1px 1px 1px;
	filter: grayscale(100%); 
	-webkit-filter: grayscale(100%);
	object-fit: cover;
	height: 600px;
}

/*
Contenedor del grupo de panditas
*/
.pandas-container {
	background-color: #abe188;
	height: 400px;
	padding: 0% 5% 0% 10%;
}

/*
Titulo h1 de Pictures
*/
.pictures {
	text-align: center;
	padding: 4%;
}

/*
Grupo de panditas
*/
.pandas {
	border: 10px solid #fff;

}

/*
Estilo adicional de la col-3
*/
.col-3 {
	float: left;
}

/*
Contenedor del tercer panda
*/
.panda3-container {
	background-color: #f78e69;
	height: 650px;	
}

/*
Pie de página
*/
.love {
	text-align: right;
}





